@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
}

#news-box {
  position: fixed;
  padding: 20px 40px;
  left: 0;
  top: 300px;
  width: 350px;
  height: 350px;
  background-color: #00303a;
  opacity: 0.85;
  z-index: 9;
}

@media screen and (max-width: 1024px) {
  #news-box {
    left: 0px;
    top: 500px;
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 767px) {
  #news-box {
    left: 0;
    top: 180px;
    width: 370px;
    height: 370px;
    padding: 15px 15px;
  }
}

#news-box .box-close::before {
  content: url(./image/close-2.png);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

#news-box h3 {
  margin: 10px 0;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  #news-box h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  #news-box h3 {
    font-size: 24px;
  }
}

#news-box span {
  color: #fff;
  padding: 10px 30px;
  text-align: justify;
  display: block;
}

@media screen and (max-width: 1024px) {
  #news-box span {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  #news-box span {
    font-size: 18px;
  }
}

#news-box .last {
  margin-right: 0;
  font-size: 14px;
  text-align: right !important;
}

@media screen and (max-width: 1024px) {
  #news-box .last {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  #news-box .last {
    font-size: 16px;
  }
}

#arrow {
  background-image: url(./image/arrow.png);
  width: 32px;
  height: 32px;
  position: fixed;
  right: 50px;
  bottom: 30px;
  z-index: 8;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  #arrow {
    right: 30px;
  }
}

#arrow:hover {
  -webkit-filter: invert(57%) sepia(55%) saturate(287%) hue-rotate(350deg) brightness(97%) contrast(87%);
          filter: invert(57%) sepia(55%) saturate(287%) hue-rotate(350deg) brightness(97%) contrast(87%);
}

nav {
  width: 100%;
  height: 90px;
  background: #00303a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 70% 10%;
      grid-template-columns: 20% 70% 10%;
  position: fixed;
  top: 0;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  nav {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  nav {
    -ms-grid-columns: 20% 10% 70%;
        grid-template-columns: 20% 10% 70%;
  }
}

nav #logo a img {
  height: 60px;
  background-size: cover;
  padding: 10px 10px;
}

nav #lang {
  color: #fff;
  padding: 10px 60px;
  text-align: center;
  margin: 0 10px 0 auto;
  position: relative;
}

@media screen and (max-width: 767px) {
  nav #lang {
    opacity: 0;
  }
}

nav #lang span {
  display: inline-block;
  padding: 10px 30px;
  height: 50px;
}

nav #lang span:hover .lang-box {
  display: block;
}

nav #lang .lang-box {
  position: absolute;
  background: #00303a;
  right: 70px;
  bottom: -115px;
  display: none;
}

nav #lang .lang-box a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav #lang .lang-box a:hover {
  color: #00303a;
  background: #fff;
}

nav #lang span {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

nav #lang span:hover .lang-box {
  display: block !important;
}

nav #menu {
  width: 32px;
  height: 32px;
  margin: 10px 15px 0 auto;
  padding: 10px 10px;
  z-index: 8;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  nav #menu {
    margin: 15px 20px 0 auto;
  }
}

.navbox {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  background: #fff;
  padding: 70px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  z-index: 11;
}

.navbox #close {
  position: absolute;
  right: 50px;
  bottom: 90%;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.navbox #close:hover {
  -webkit-filter: invert(66%) sepia(11%) saturate(1278%) hue-rotate(350deg) brightness(91%) contrast(90%);
          filter: invert(66%) sepia(11%) saturate(1278%) hue-rotate(350deg) brightness(91%) contrast(90%);
}

.navbox #navbox-logo {
  background-image: url(./image/logo-cn-blue.png);
  width: 300px;
  height: 300px;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
  margin-left: 30px;
}

@media screen and (max-width: 1024px) {
  .navbox #navbox-logo {
    display: none;
  }
}

.navbox #left-box {
  margin-left: 200px;
  margin-top: 80px;
  display: inline-block;
  height: 90vh;
}

@media screen and (max-width: 1024px) {
  .navbox #left-box {
    display: block;
    margin: 0;
    height: 50vh;
  }
}

.navbox a {
  display: block;
  list-style: none;
  text-decoration: none;
  color: #00303a;
  padding: 15px 30px;
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .navbox a {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .navbox a {
    font-size: 24px;
    padding: 8px 10px;
  }
}

.navbox a:hover {
  font-weight: 900;
}

.navbox .navbox-icon:hover {
  -webkit-filter: invert(66%) sepia(11%) saturate(1278%) hue-rotate(350deg) brightness(91%) contrast(90%);
          filter: invert(66%) sepia(11%) saturate(1278%) hue-rotate(350deg) brightness(91%) contrast(90%);
}

.navbox #right-box {
  display: inline-block;
  margin-left: 100px;
  height: 90vh;
}

@media screen and (max-width: 1024px) {
  .navbox #right-box {
    display: block;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .navbox #right-box {
    margin: 10px;
    margin-left: 0;
  }
}

.navbox #right-box img {
  margin-top: 150px;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 1024px) {
  .navbox #right-box img {
    margin-top: 100px;
  }
}

@media screen and (max-width: 767px) {
  .navbox #right-box img {
    margin-top: 50px;
  }
}

.navbox .navbox-icon {
  display: inline-block !important;
  cursor: pointer;
}

#banner {
  background-image: url(./image/banner2.jpg);
  height: 100vh;
  background-size: cover;
}

#news-banner {
  background-image: url(./image/banner1.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
}

#news-content h2 {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}

#text-info {
  background-image: url(./image/about.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#text-info h1 {
  text-align: center;
  color: #fff;
  padding-top: 50px;
  font-size: 40px;
}

@media screen and (max-width: 1024px) {
  #text-info h1 {
    font-size: 50px;
    padding-top: 150px;
    letter-spacing: 10px;
  }
}

@media screen and (max-width: 767px) {
  #text-info h1 {
    font-size: 40px;
    padding-top: 50px;
    letter-spacing: 10px;
  }
}

#text-info #text-info-area {
  width: 50%;
  padding: 10px 50px;
}

@media screen and (max-width: 1024px) {
  #text-info #text-info-area {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  #text-info #text-info-area {
    padding: 5px 0;
    width: 100%;
    text-align: center;
  }
}

#text-info #text-info-area h2 {
  color: #fff;
  padding: 10px 50px;
  font-size: 26px;
  margin-top: 50px;
}

@media screen and (max-width: 1024px) {
  #text-info #text-info-area h2 {
    font-size: 28px;
    text-align: center;
    margin-top: 80px;
    letter-spacing: 5px;
  }
}

@media screen and (max-width: 767px) {
  #text-info #text-info-area h2 {
    font-size: 22px;
    text-align: center;
    margin-top: 40px;
    letter-spacing: 7.2px;
  }
}

#text-info #text-info-area p {
  width: 60%;
  color: #fff;
  line-height: 1.5;
  padding: 10px 50px;
}

@media screen and (max-width: 1024px) {
  #text-info #text-info-area p {
    width: 80%;
    font-size: 22px;
    padding-top: 50px;
    text-align: justify;
    margin: 0 auto;
    line-height: 1.6;
  }
}

@media screen and (max-width: 767px) {
  #text-info #text-info-area p {
    width: 70%;
    font-size: 16px;
    padding-top: 30px;
    text-align: justify;
    margin: 0 auto;
    line-height: 1.8;
  }
}

#text-info #text-info-area button {
  margin: 20px 50px;
}

@media screen and (max-width: 1024px) {
  #text-info #text-info-area button {
    margin-left: 80px;
    margin-top: 100px;
    background: #fff;
    color: #00303a;
    font-weight: 900;
    font-size: 18px;
    border: none;
  }
}

@media screen and (max-width: 767px) {
  #text-info #text-info-area button {
    margin-left: 60px;
    margin-top: 80px;
    background: #fff;
    color: #00303a;
    font-weight: 900;
    font-size: 16px;
    border: none;
  }
}

#news {
  width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  #news {
    width: 100%;
  }
}

#news h1 {
  text-align: center;
  margin: 50px 0;
  color: #00303a;
  font-size: 40px;
}

@media screen and (max-width: 767px) {
  #news h1 {
    margin: 40px 0;
  }
}

#news .news-contant {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media screen and (max-width: 1024px) {
  #news .news-contant {
    grid-gap: 15px;
  }
}

@media screen and (max-width: 767px) {
  #news .news-contant {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}

#news img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 1024px) {
  #news img {
    border-radius: 30px;
    -webkit-filter: saturate(150%);
            filter: saturate(150%);
    height: 300px;
  }
}

@media screen and (max-width: 767px) {
  #news img {
    border-radius: 0;
    -webkit-filter: saturate(150%);
            filter: saturate(150%);
    height: 400px;
  }
}

#news img:hover {
  border-radius: 50px;
  -webkit-filter: saturate(150%);
          filter: saturate(150%);
}

#news h2 {
  text-align: center;
  padding: 10px 0;
  letter-spacing: 3px;
  color: #00303a;
}

@media screen and (max-width: 1024px) {
  #news h2 {
    letter-spacing: 0;
    font-size: 20px;
    padding: 15px 0;
  }
}

@media screen and (max-width: 767px) {
  #news h2 {
    letter-spacing: 2px;
    font-size: 28px;
    padding: 20px 0;
  }
}

#news p {
  padding: 10px 0;
  letter-spacing: 1.5px;
  line-height: 1.6;
  height: 100px;
}

@media screen and (max-width: 1024px) {
  #news p {
    letter-spacing: 1;
    font-size: 16px;
    line-height: 1.8;
    padding: 10px 10px;
  }
}

@media screen and (max-width: 767px) {
  #news p {
    letter-spacing: 1;
    font-size: 16px;
    padding: 10px 15px;
    height: 80px;
  }
}

#news .btn {
  width: 100%;
  margin-top: 10px;
}

@media screen and (max-width: 1024px) {
  #news .btn {
    letter-spacing: 1;
    font-size: 14px;
    line-height: 1.8;
    margin-top: 35px;
    background: #fff;
    color: #00303a;
    font-weight: 900;
    border: 2px solid #00303a;
  }
}

@media screen and (max-width: 767px) {
  #news .btn {
    font-size: 16px;
    width: 80%;
  }
}

#room1 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  margin-top: 80px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  #room1 {
    margin-top: 50px;
  }
}

#room1 #room1bg {
  background-image: url(./image/vila1.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  -webkit-transition: 1s;
  transition: 1s;
}

#room1 #room1bg:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

#room1 .room-info {
  width: 35%;
  border: 0px solid #fff;
  height: 300px;
  padding: 100px 80px;
  position: absolute;
  right: 100px;
  bottom: 200px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  #room1 .room-info {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    bottom: 20%;
    right: 0;
    height: 45%;
    width: 100%;
    background: rgba(0, 48, 58, 0.8);
    padding: 50px 50px;
  }
}

@media screen and (max-width: 767px) {
  #room1 .room-info {
    bottom: 100px;
    left: 0px;
    padding: 50px 20px;
    height: 55%;
  }
}

#room1 .room-info span {
  color: #fff;
}

#room1 .room-info #room-info-box {
  width: 100%;
  height: 350px;
  position: absolute;
  right: 12px;
  bottom: 115px;
  pointer-events: none;
}

#room1 .room-info .shape {
  fill: transparent;
  width: 100%;
  height: 350px;
  stroke-dasharray: 100 2000;
  stroke-dashoffset: 200;
  stroke-width: 8px;
  stroke: #be956a;
}

#room1 h2 {
  color: #fff;
  padding: 15px 0;
  font-size: 28px;
}

@media screen and (max-width: 1024px) {
  #room1 h2 {
    font-size: 38px;
    letter-spacing: 3px;
    color: #be956a;
  }
}

@media screen and (max-width: 767px) {
  #room1 h2 {
    font-size: 32px;
    letter-spacing: 3px;
  }
}

#room1 p {
  font-size: 16px;
  color: #fff;
  padding: 15px 0;
}

@media screen and (max-width: 1024px) {
  #room1 p {
    font-size: 22px;
    line-height: 1.6;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 767px) {
  #room1 p {
    font-size: 18px;
    line-height: 1.6;
  }
}

#room1 .btn-more {
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  #room1 .btn-more {
    font-size: 16px;
    border: 2px solid #fff;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  #room1 .btn-more {
    font-size: 16px;
    border: 2px solid #fff;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0);
  }
}

#room2 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;
}

#room2 #room2bg {
  background-image: url(./image/vila2.jpg);
  height: 100vh;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  background-size: cover;
}

#room2 #room2bg:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

#room2 .room-info {
  width: 35%;
  border: 0px solid #fff;
  height: 300px;
  padding: 100px 80px;
  position: absolute;
  left: 100px;
  top: 200px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  #room2 .room-info {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    left: 0;
    top: 35%;
    height: 45%;
    width: 100%;
    background: rgba(0, 48, 58, 0.8);
    padding: 50px 50px;
  }
}

@media screen and (max-width: 767px) {
  #room2 .room-info {
    height: 60%;
    bottom: 100px;
    left: 0px;
    padding: 50px 20px;
    height: 55%;
  }
}

#room2 .room-info span {
  color: #fff;
}

#room2 .room-info #room-info-box {
  width: 100%;
  height: 350px;
  position: absolute;
  right: 12px;
  bottom: 115px;
  pointer-events: none;
}

#room2 .room-info .shape {
  fill: transparent;
  width: 100%;
  height: 350px;
  stroke-dasharray: 100 2000;
  stroke-dashoffset: 200;
  stroke-width: 8px;
  stroke: #be956a;
}

#room2 h2 {
  color: #fff;
  padding: 15px 0;
  font-size: 28px;
}

@media screen and (max-width: 1024px) {
  #room2 h2 {
    font-size: 38px;
    letter-spacing: 3px;
    color: #be956a;
  }
}

@media screen and (max-width: 767px) {
  #room2 h2 {
    font-size: 32px;
    letter-spacing: 3px;
    color: #be956a;
  }
}

#room2 p {
  font-size: 16px;
  color: #fff;
  padding: 15px 0;
}

@media screen and (max-width: 1024px) {
  #room2 p {
    font-size: 22px;
    line-height: 1.6;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 767px) {
  #room2 p {
    font-size: 18px;
    line-height: 1.6;
  }
}

#room2 .btn-more {
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  #room2 .btn-more {
    font-size: 16px;
    border: 2px solid #fff;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  #room2 .btn-more {
    font-size: 16px;
    border: 2px solid #fff;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0);
  }
}

#room3 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;
}

#room3 #room3bg {
  background-image: url(./image/vila3.jpg);
  height: 100vh;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  background-size: cover;
}

#room3 #room3bg:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

#room3 .room-info {
  width: 35%;
  border: 0px solid #fff;
  height: 300px;
  padding: 100px 80px;
  position: absolute;
  right: 100px;
  bottom: 200px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  #room3 .room-info {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    bottom: 20%;
    right: 0;
    height: 45%;
    width: 100%;
    background: rgba(0, 48, 58, 0.8);
    padding: 50px 50px;
  }
}

@media screen and (max-width: 767px) {
  #room3 .room-info {
    bottom: 100px;
    left: 0px;
    padding: 50px 20px;
    height: 55%;
  }
}

#room3 .room-info span {
  color: #fff;
}

#room3 .room-info #room-info-box {
  width: 100%;
  height: 350px;
  position: absolute;
  right: 12px;
  bottom: 115px;
  pointer-events: none;
}

#room3 .room-info .shape {
  fill: transparent;
  width: 100%;
  height: 350px;
  stroke-dasharray: 100 2000;
  stroke-dashoffset: 200;
  stroke-width: 8px;
  stroke: #be956a;
}

#room3 h2 {
  color: #fff;
  padding: 15px 0;
  font-size: 28px;
}

@media screen and (max-width: 1024px) {
  #room3 h2 {
    font-size: 36px;
    letter-spacing: 3px;
    color: #be956a;
  }
}

@media screen and (max-width: 767px) {
  #room3 h2 {
    font-size: 32px;
    letter-spacing: 3px;
    color: #be956a;
  }
}

#room3 p {
  font-size: 16px;
  color: #fff;
  padding: 15px 0;
}

@media screen and (max-width: 1024px) {
  #room3 p {
    font-size: 22px;
    line-height: 1.6;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 767px) {
  #room3 p {
    font-size: 18px;
    line-height: 1.6;
  }
}

#room3 .btn-more {
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  #room3 .btn-more {
    font-size: 16px;
    border: 2px solid #fff;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  #room3 .btn-more {
    font-size: 16px;
    border: 2px solid #fff;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0);
  }
}

#room4 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;
}

#room4 #room4bg {
  background-image: url(./image/vila4.jpg);
  height: 100vh;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  background-size: cover;
}

#room4 #room4bg:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

#room4 .room-info {
  width: 35%;
  border: 0px solid #fff;
  height: 300px;
  padding: 100px 80px;
  position: absolute;
  left: 100px;
  top: 200px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  #room4 .room-info {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    left: 0;
    top: 35%;
    height: 45%;
    width: 100%;
    background: rgba(0, 48, 58, 0.8);
    padding: 50px 50px;
  }
}

@media screen and (max-width: 767px) {
  #room4 .room-info {
    height: 60%;
    bottom: 100px;
    left: 0px;
    padding: 50px 20px;
    height: 55%;
  }
}

#room4 .room-info span {
  color: #fff;
}

#room4 .room-info #room-info-box {
  width: 100%;
  height: 350px;
  position: absolute;
  right: 12px;
  bottom: 115px;
  pointer-events: none;
}

#room4 .room-info .shape {
  fill: transparent;
  width: 100%;
  height: 350px;
  stroke-dasharray: 100 2000;
  stroke-dashoffset: 200;
  stroke-width: 8px;
  stroke: #be956a;
}

#room4 h2 {
  color: #fff;
  padding: 15px 0;
  font-size: 28px;
}

@media screen and (max-width: 1024px) {
  #room4 h2 {
    font-size: 36px;
    letter-spacing: 3px;
    color: #be956a;
  }
}

@media screen and (max-width: 767px) {
  #room4 h2 {
    font-size: 32px;
    letter-spacing: 3px;
    color: #be956a;
  }
}

#room4 p {
  font-size: 16px;
  color: #fff;
  padding: 15px 0;
}

@media screen and (max-width: 1024px) {
  #room4 p {
    font-size: 22px;
    line-height: 1.6;
    letter-spacing: 2px;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  #room4 p {
    font-size: 18px;
    line-height: 1.6;
  }
}

#room4 .btn-more {
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  #room4 .btn-more {
    font-size: 16px;
    border: 2px solid #fff;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  #room4 .btn-more {
    font-size: 16px;
    border: 2px solid #fff;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
  }
}

#room5 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;
}

#room5 #room5bg {
  background-image: url(./image/vila5.jpg);
  height: 100vh;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  background-size: cover;
}

#room5 #room5bg:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

#room5 .room-info {
  width: 35%;
  border: 0px solid #fff;
  height: 300px;
  padding: 100px 80px;
  position: absolute;
  right: 100px;
  bottom: 200px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  #room5 .room-info {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    bottom: 20%;
    right: 0;
    height: 45%;
    width: 100%;
    background: rgba(0, 48, 58, 0.8);
    padding: 50px 50px;
  }
}

@media screen and (max-width: 767px) {
  #room5 .room-info {
    bottom: 100px;
    left: 0px;
    padding: 50px 20px;
    height: 55%;
  }
}

#room5 .room-info span {
  color: #fff;
}

#room5 .room-info #room-info-box {
  width: 100%;
  height: 350px;
  position: absolute;
  right: 12px;
  bottom: 115px;
  pointer-events: none;
}

#room5 .room-info .shape {
  fill: transparent;
  width: 100%;
  height: 350px;
  stroke-dasharray: 100 2000;
  stroke-dashoffset: 200;
  stroke-width: 8px;
  stroke: #be956a;
}

#room5 h2 {
  color: #fff;
  padding: 15px 0;
  font-size: 28px;
}

@media screen and (max-width: 1024px) {
  #room5 h2 {
    font-size: 36px;
    letter-spacing: 3px;
    color: #be956a;
  }
}

@media screen and (max-width: 767px) {
  #room5 h2 {
    font-size: 32px;
    letter-spacing: 3px;
    color: #be956a;
  }
}

#room5 p {
  font-size: 16px;
  color: #fff;
  padding: 15px 0;
}

@media screen and (max-width: 1024px) {
  #room5 p {
    font-size: 22px;
    line-height: 1.6;
    letter-spacing: 2px;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  #room5 p {
    font-size: 18px;
    line-height: 1.6;
  }
}

#room5 .btn-more {
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  #room5 .btn-more {
    font-size: 16px;
    border: 2px solid #fff;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  #room5 .btn-more {
    font-size: 16px;
    border: 2px solid #fff;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0);
  }
}

#land {
  height: 100vh;
  width: 100%;
  position: relative;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  #land {
    margin-top: 0;
  }
}

#land .land-text {
  width: 200px;
  height: 200px;
  padding: 50px 80px;
  position: absolute;
  top: 30px;
  left: 200px;
  z-index: 5;
}

@media screen and (max-width: 1024px) {
  #land .land-text {
    top: 30%;
    left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 25vh;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px 80px;
  }
}

@media screen and (max-width: 767px) {
  #land .land-text {
    top: 40%;
    height: 30vh;
    padding: 10px 80px;
  }
}

#land .land-text h2,
#land .land-text p, #land .land-text hr {
  display: none;
  z-index: 5;
}

#land .land-text h2 {
  color: #be956a;
  font-size: 28px;
  padding: 15px 10px;
}

@media screen and (max-width: 1024px) {
  #land .land-text h2 {
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
  }
}

#land .land-text hr {
  background: #be956a;
  height: 1px;
}

@media screen and (max-width: 1024px) {
  #land .land-text hr {
    width: 50%;
    margin: 0 auto;
    border: none;
  }
}

@media screen and (max-width: 767px) {
  #land .land-text hr {
    width: 70%;
  }
}

#land .land-text p {
  font-size: 18px;
  padding: 15px 10px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  #land .land-text p {
    font-size: 22px;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 20px;
    color: #be956a;
  }
}

#land .land-text p span {
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

#land .land-text .title-active,
#land .land-text .p-active, #land .land-text .hr-active {
  display: block;
}

#land .land-bimg {
  position: absolute;
  width: 900px;
  height: 550px;
  background-size: cover;
  right: 0;
}

@media screen and (max-width: 1024px) {
  #land .land-bimg {
    bottom: 35%;
  }
}

@media screen and (max-width: 767px) {
  #land .land-bimg {
    bottom: 15%;
  }
}

#land .land-bimg .bimg {
  width: 900px;
  height: 550px;
  background-size: cover;
  display: none;
}

@media screen and (max-width: 767px) {
  #land .land-bimg .bimg {
    width: 100%;
    height: 500px;
  }
}

#land .land-bimg .bimg-active {
  display: block;
}

#land .land-bimg .bimg:nth-of-type(1) {
  background-image: url(./image/bimg1.jpg);
}

#land .land-bimg .bimg:nth-of-type(2) {
  background-image: url(./image/bimg2.jpg);
}

#land .land-bimg .bimg:nth-of-type(3) {
  background-image: url(./image/bimg3.jpg);
}

#land .land-simg {
  background-size: cover;
  width: 450px;
  height: 260px;
  position: absolute;
  left: 0;
  top: 70%;
}

@media screen and (max-width: 1024px) {
  #land .land-simg {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    left: 18%;
    top: 60%;
    overflow: hidden;
    width: 70%;
    height: 30%;
  }
}

@media screen and (max-width: 767px) {
  #land .land-simg {
    top: 75%;
    left: 12%;
    width: 350px;
    overflow: hidden;
  }
}

#land .land-simg .simg {
  width: 450px;
  height: 260px;
  background-size: cover;
  display: none;
}

@media screen and (max-width: 1024px) {
  #land .land-simg .simg {
    width: 500px;
    height: 300px;
    -webkit-box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.3);
  }
}

@media screen and (max-width: 767px) {
  #land .land-simg .simg {
    width: 300px;
    height: 220px;
    -webkit-box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.3);
  }
}

#land .land-simg .simg-active {
  display: block;
}

#land .land-simg .simg:nth-of-type(1) {
  background-image: url(./image/simg1.jpg);
}

#land .land-simg .simg:nth-of-type(2) {
  background-image: url(./image/simg2.jpg);
}

#land .land-simg .simg:nth-of-type(3) {
  background-image: url(./image/simg3.jpg);
}

#land .next-btn {
  position: absolute;
  right: 0;
  bottom: 50%;
  background: rgba(190, 149, 106, 0.6);
  width: 50px;
  height: 70px;
  cursor: pointer;
  z-index: 4;
}

@media screen and (max-width: 1024px) {
  #land .next-btn {
    background: rgba(190, 149, 106, 0.6);
    bottom: 55%;
  }
}

@media screen and (max-width: 767px) {
  #land .next-btn {
    bottom: 35%;
    width: 40px;
  }
}

#maparea {
  width: 100%;
  height: 500px;
  margin-top: 80px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  #maparea {
    height: 600px;
    margin: 5px 0;
  }
}

@media screen and (max-width: 767px) {
  #maparea {
    height: 100vh;
    margin-top: 80px;
  }
}

#book-card {
  position: absolute;
  left: 220px;
  top: 100px;
  width: 320px;
  height: 450px;
  background-color: #fff;
  -webkit-box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
  padding: 40px 60px;
}

@media screen and (max-width: 1024px) {
  #book-card {
    top: 250px;
    left: 50px;
    padding: 30px 30px;
    width: 350px;
  }
}

@media screen and (max-width: 767px) {
  #book-card {
    top: 400px;
    left: 28px;
    width: 300px;
  }
}

#book-card h3 {
  text-align: center;
  color: #00303a;
  font-size: 30px;
  margin: 10px 0;
}

@media screen and (max-width: 1024px) {
  #book-card h3 {
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  #book-card h3 {
    font-size: 30px;
  }
}

#book-card span {
  display: block;
  padding: 20px 0;
}

@media screen and (max-width: 1024px) {
  #book-card span {
    font-size: 20px;
    padding: 25px 0;
  }
}

@media screen and (max-width: 767px) {
  #book-card span {
    font-size: 18px;
  }
}

#book-card input {
  width: 100%;
  font-size: 16px;
  display: block;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  #book-card input {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  #book-card input {
    font-size: 16px;
  }
}

#book-card button {
  margin-top: 20px;
  width: 100%;
  margin-top: 50px;
}

@media screen and (max-width: 1024px) {
  #book-card button {
    font-size: 16px;
    letter-spacing: 2px;
  }
}

footer {
  margin-top: 250px;
  width: 100%;
  background-color: #00303a;
}

footer #top-box {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logo contact icon";
  -ms-grid-columns: 30% 40% 30%;
      grid-template-columns: 30% 40% 30%;
}

@media screen and (max-width: 1024px) {
  footer #top-box {
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    text-align: center;
        grid-template-areas: "icon" "contact" "logo";
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

footer .footer-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

footer .footer-logo img {
  width: 300px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 20px;
}

footer .footer-contact {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contact;
  padding: 20px;
}

footer .footer-contact .icon-list {
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
  margin-right: 10px;
}

footer .footer-contact a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-bottom: 5px;
}

footer .footer-contact address {
  font-style: normal;
  display: inline-block;
}

footer .footer-icon {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: icon;
  padding: 20px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  footer .footer-icon {
    padding-top: 20px;
  }
}

footer .footer-icon a {
  margin-right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  footer .footer-icon a {
    padding: 10px;
    margin-right: 0;
  }
}

footer .footer-icon a:hover {
  -webkit-filter: invert(66%) sepia(11%) saturate(1278%) hue-rotate(350deg) brightness(91%) contrast(90%);
          filter: invert(66%) sepia(11%) saturate(1278%) hue-rotate(350deg) brightness(91%) contrast(90%);
}

footer .footer-icon a img {
  width: 32px;
  height: 32px;
}

#copy-text {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 10px;
  position: absolute;
  background-color: #00303a;
  padding: 10px 0;
  letter-spacing: 2px;
}

.btn-book {
  color: #fff;
  background: #00303a;
  border-radius: 8px;
  width: 100px;
  padding: 10px 50px;
  border: 1px solid #fff;
  margin: 0 auto;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-book:hover {
  color: #00303a;
  background: #fff;
}

.btn {
  margin: 0 auto;
  display: block;
  padding: 10px 50px;
  color: #fff;
  background: #00303a;
  border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #00303a;
  cursor: pointer;
}

.btn:hover {
  color: #00303a;
  background: #fff;
  border: 1px solid #00303a;
}

.btn-more {
  padding: 10px 50px;
  color: #00303a;
  background: #fff;
  border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #00303a;
  width: 50px;
  margin-top: 10px;
  cursor: pointer;
}

.btn-more:hover {
  color: #fff;
  background: #00303a;
  border: 1px solid #fff;
}

.room-info:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
          animation: 0.5s draw linear forwards;
}

@-webkit-keyframes draw {
  0% {
    stroke-dasharray: 100 2000;
    stroke-dashoffset: 200;
    stroke-width: 8px;
  }
  90% {
    stroke-dasharray: 200 2000;
    stroke-dashoffset: 2005;
    stroke-width: 2px;
  }
  100% {
    stroke-dasharray: 5000 2000;
  }
}

@keyframes draw {
  0% {
    stroke-dasharray: 100 2000;
    stroke-dashoffset: 200;
    stroke-width: 8px;
  }
  90% {
    stroke-dasharray: 200 2000;
    stroke-dashoffset: 2005;
    stroke-width: 2px;
  }
  100% {
    stroke-dasharray: 5000 2000;
  }
}
/*# sourceMappingURL=style.css.map */