@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
}

body {
  position: relative;
}

body #news-box {
  position: absolute;
  padding: 20px 40px;
  left: 0;
  top: 300px;
  width: 350px;
  height: 350px;
  background-color: #00303a;
  opacity: 0.85;
}

@media screen and (max-width: 1024px) {
  body #news-box {
    left: 0px;
    top: 700px;
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 767px) {
  body #news-box {
    left: 50px;
    top: 300px;
    width: 500px;
    height: 500px;
  }
}

body #news-box .box-close::before {
  content: url(./image/close-2.png);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

body #news-box h3 {
  margin: 10px 0;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  body #news-box h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  body #news-box h3 {
    font-size: 30px;
  }
}

body #news-box span {
  color: #fff;
  padding: 10px 30px;
  text-align: justify;
  display: block;
}

@media screen and (max-width: 1024px) {
  body #news-box span {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  body #news-box span {
    font-size: 22px;
  }
}

body #news-box .last {
  margin-right: 0;
  font-size: 14px;
  text-align: right !important;
}

@media screen and (max-width: 1024px) {
  body #news-box .last {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  body #news-box .last {
    font-size: 16px;
  }
}

nav {
  width: 100%;
  height: 90px;
  background: #00303a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 70% 10%;
      grid-template-columns: 20% 70% 10%;
  position: fixed;
  top: 0;
  z-index: 5;
}

@media screen and (max-width: 767px) {
  nav {
    -ms-grid-columns: 20% 10% 70%;
        grid-template-columns: 20% 10% 70%;
  }
}

nav #logo a img {
  height: 60px;
  background-size: cover;
  padding: 10px 10px;
}

nav #lang {
  color: #fff;
  padding: 10px 60px;
  text-align: center;
  margin: 0 10px 0 auto;
  position: relative;
}

@media screen and (max-width: 767px) {
  nav #lang {
    opacity: 0;
  }
}

nav #lang span {
  display: inline-block;
  padding: 10px 30px;
  height: 50px;
}

nav #lang span:hover .lang-box {
  display: block;
}

nav #lang .lang-box {
  position: absolute;
  background: #00303a;
  right: 70px;
  bottom: -115px;
  display: none;
}

nav #lang .lang-box a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav #lang .lang-box a:hover {
  color: #00303a;
  background: #fff;
}

nav #lang span {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

nav #lang span:hover .lang-box {
  display: block !important;
}

nav #menu {
  width: 32px;
  height: 32px;
  margin: 10px 15px 0 auto;
  padding: 10px 10px;
}

@media screen and (max-width: 767px) {
  nav #menu {
    margin: 15px 20px 0 auto;
  }
}

.navbox {
  display: none;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  background: #fff;
  padding: 70px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  z-index: 6;
}

.navbox #close {
  position: absolute;
  right: 50px;
  bottom: 90%;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.navbox #navbox-logo {
  background-image: url(./image/logo-cn-blue.png);
  width: 300px;
  height: 300px;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
  margin-left: 30px;
}

.navbox #left-box {
  margin-left: 200px;
  margin-top: 80px;
  display: inline-block;
  height: 90vh;
}

.navbox a {
  display: block;
  list-style: none;
  text-decoration: none;
  color: #00303a;
  padding: 15px 30px;
  font-size: 18px;
}

.navbox a:hover {
  font-weight: 900;
}

.navbox #right-box {
  display: inline-block;
  margin-left: 100px;
  height: 90vh;
}

.navbox #right-box img {
  margin-top: 150px;
  width: 32px;
  height: 32px;
}

.navbox .navbox-icon {
  display: inline-block !important;
  cursor: pointer;
}

#banner {
  background-image: url(./image/banner2.jpg);
  height: 100vh;
  background-size: cover;
}

#text-info {
  background-image: url(./image/about.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#text-info h1 {
  text-align: center;
  color: #fff;
  padding-top: 50px;
  font-size: 40px;
}

@media screen and (max-width: 1024px) {
  #text-info h1 {
    font-size: 50px;
    padding-top: 150px;
  }
}

#text-info #text-info-area {
  width: 50%;
  padding: 10px 50px;
}

@media screen and (max-width: 1024px) {
  #text-info #text-info-area {
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }
}

#text-info #text-info-area h2 {
  color: #fff;
  padding: 10px 50px;
  font-size: 26px;
  margin-top: 50px;
}

@media screen and (max-width: 1024px) {
  #text-info #text-info-area h2 {
    font-size: 28px;
    text-align: center;
    margin-top: 80px;
  }
}

#text-info #text-info-area p {
  width: 60%;
  color: #fff;
  line-height: 1.5;
  padding: 10px 50px;
}

@media screen and (max-width: 1024px) {
  #text-info #text-info-area p {
    width: 80%;
    font-size: 22px;
    padding-top: 50px 0;
    text-align: justify;
    margin: 0 auto;
  }
}

#text-info #text-info-area button {
  margin: 20px 50px;
}

@media screen and (max-width: 1024px) {
  #text-info #text-info-area button {
    margin-left: 80px;
    margin-top: 100px;
  }
}

#news {
  width: 1280px;
  margin: 0 auto;
  margin-top: 80px;
}

#news h1 {
  text-align: center;
  margin-bottom: 20px;
}

#news .news-contant {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

#news img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

#news h2 {
  text-align: center;
  padding: 10px 0;
}

#news p {
  padding: 10px 0;
}

#news .btn {
  width: 100%;
}

#room1 {
  background-image: url(./image/vila1.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  margin-top: 80px;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

#room1:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

#room1 .room-info {
  width: 35%;
  border: 0px solid #fff;
  height: 300px;
  padding: 100px 80px;
  position: absolute;
  right: 100px;
  bottom: 200px;
  cursor: pointer;
}

#room1 .room-info span {
  color: #fff;
}

#room1 .room-info #room-info-box {
  width: 100%;
  height: 350px;
  position: absolute;
  right: 12px;
  bottom: 115px;
  pointer-events: none;
}

#room1 .room-info .shape {
  fill: transparent;
  width: 100%;
  height: 350px;
  stroke-dasharray: 100 2000;
  stroke-dashoffset: 200;
  stroke-width: 8px;
  stroke: #be956a;
}

#room1 h2 {
  color: #fff;
  padding: 15px 0;
  font-size: 28px;
}

#room1 p {
  font-size: 16px;
  color: #fff;
  padding: 15px 0;
}

#room1 .btn-more {
  margin-top: 30px;
}

#room2 {
  background-image: url(./image/vila2.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

#room2 .room-info {
  width: 35%;
  border: 0px solid #fff;
  height: 300px;
  padding: 100px 80px;
  position: absolute;
  left: 100px;
  top: 200px;
  cursor: pointer;
}

#room2 .room-info span {
  color: #fff;
}

#room2 .room-info #room-info-box {
  width: 100%;
  height: 350px;
  position: absolute;
  right: 12px;
  bottom: 115px;
  pointer-events: none;
}

#room2 .room-info .shape {
  fill: transparent;
  width: 100%;
  height: 350px;
  stroke-dasharray: 100 2000;
  stroke-dashoffset: 200;
  stroke-width: 8px;
  stroke: #be956a;
}

#room2 h2 {
  color: #fff;
  padding: 15px 0;
  font-size: 28px;
}

#room2 p {
  font-size: 16px;
  color: #fff;
  padding: 15px 0;
}

#room2 .btn-more {
  margin-top: 30px;
}

#room3 {
  background-image: url(./image/vila3.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

#room3:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

#room3 .room-info {
  width: 35%;
  border: 0px solid #fff;
  height: 300px;
  padding: 100px 80px;
  position: absolute;
  right: 100px;
  bottom: 200px;
  cursor: pointer;
}

#room3 .room-info span {
  color: #fff;
}

#room3 .room-info #room-info-box {
  width: 100%;
  height: 350px;
  position: absolute;
  right: 12px;
  bottom: 115px;
  pointer-events: none;
}

#room3 .room-info .shape {
  fill: transparent;
  width: 100%;
  height: 350px;
  stroke-dasharray: 100 2000;
  stroke-dashoffset: 200;
  stroke-width: 8px;
  stroke: #be956a;
}

#room3 h2 {
  color: #fff;
  padding: 15px 0;
  font-size: 28px;
}

#room3 p {
  font-size: 16px;
  color: #fff;
  padding: 15px 0;
}

#room3 .btn-more {
  margin-top: 30px;
}

#room4 {
  background-image: url(./image/vila4.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

#room4 .room-info {
  width: 35%;
  border: 0px solid #fff;
  height: 300px;
  padding: 100px 80px;
  position: absolute;
  left: 100px;
  top: 200px;
  cursor: pointer;
}

#room4 .room-info span {
  color: #fff;
}

#room4 .room-info #room-info-box {
  width: 100%;
  height: 350px;
  position: absolute;
  right: 12px;
  bottom: 115px;
  pointer-events: none;
}

#room4 .room-info .shape {
  fill: transparent;
  width: 100%;
  height: 350px;
  stroke-dasharray: 100 2000;
  stroke-dashoffset: 200;
  stroke-width: 8px;
  stroke: #be956a;
}

#room4 h2 {
  color: #fff;
  padding: 15px 0;
  font-size: 28px;
}

#room4 p {
  font-size: 16px;
  color: #fff;
  padding: 15px 0;
}

#room4 .btn-more {
  margin-top: 30px;
}

#room5 {
  background-image: url(./image/vila5.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

#room5:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

#room5 .room-info {
  width: 35%;
  border: 0px solid #fff;
  height: 300px;
  padding: 100px 80px;
  position: absolute;
  right: 100px;
  bottom: 200px;
  cursor: pointer;
}

#room5 .room-info span {
  color: #fff;
}

#room5 .room-info #room-info-box {
  width: 100%;
  height: 350px;
  position: absolute;
  right: 12px;
  bottom: 115px;
  pointer-events: none;
}

#room5 .room-info .shape {
  fill: transparent;
  width: 100%;
  height: 350px;
  stroke-dasharray: 100 2000;
  stroke-dashoffset: 200;
  stroke-width: 8px;
  stroke: #be956a;
}

#room5 h2 {
  color: #fff;
  padding: 15px 0;
  font-size: 28px;
}

#room5 p {
  font-size: 16px;
  color: #fff;
  padding: 15px 0;
}

#room5 .btn-more {
  margin-top: 30px;
}

#land {
  height: 100vh;
  width: 100%;
  position: relative;
  margin-top: 20px;
}

#land .land-text {
  width: 200px;
  height: 200px;
  padding: 50px 80px;
  position: absolute;
  top: 30px;
  left: 200px;
}

#land .land-text h2,
#land .land-text p {
  display: none;
}

#land .land-text h2 {
  color: #be956a;
  font-size: 28px;
  padding: 15px 10px;
}

#land .land-text hr {
  background: #be956a;
  height: 1px;
}

#land .land-text p {
  font-size: 18px;
  padding: 15px 10px;
  margin-bottom: 30px;
}

#land .land-text p span {
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

#land .land-text .title-active,
#land .land-text .p-active {
  display: block;
}

#land .land-bimg {
  position: absolute;
  width: 900px;
  height: 550px;
  background-size: cover;
  right: 0;
}

#land .land-bimg .bimg {
  width: 900px;
  height: 550px;
  background-size: cover;
  display: none;
}

#land .land-bimg .bimg-active {
  display: block;
}

#land .land-bimg .bimg:nth-of-type(1) {
  background-image: url(./image/bimg1.jpg);
}

#land .land-bimg .bimg:nth-of-type(2) {
  background-image: url(./image/bimg2.jpg);
}

#land .land-bimg .bimg:nth-of-type(3) {
  background-image: url(./image/bimg3.jpg);
}

#land .land-simg {
  background-size: cover;
  width: 450px;
  height: 260px;
  position: absolute;
  left: 0;
  top: 70%;
}

#land .land-simg .simg {
  width: 450px;
  height: 260px;
  background-size: cover;
  display: none;
}

#land .land-simg .simg-active {
  display: block;
}

#land .land-simg .simg:nth-of-type(1) {
  background-image: url(./image/simg1.jpg);
}

#land .land-simg .simg:nth-of-type(2) {
  background-image: url(./image/simg2.jpg);
}

#land .land-simg .simg:nth-of-type(3) {
  background-image: url(./image/simg3.jpg);
}

#land .next-btn {
  position: absolute;
  right: 0;
  bottom: 300px;
  background: rgba(255, 255, 255, 0.6);
  width: 50px;
  height: 70px;
  cursor: pointer;
}

#maparea {
  width: 100%;
  height: 500px;
  margin-top: 80px;
  background-image: url(./image/blue.png);
  background-size: cover;
  position: relative;
}

#book-card {
  position: absolute;
  left: 220px;
  top: 100px;
  width: 320px;
  height: 450px;
  background-color: #fff;
  -webkit-box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
  padding: 40px 60px;
}

#book-card h3 {
  text-align: center;
  color: #00303a;
  font-size: 30px;
  margin: 10px 0;
}

#book-card span {
  display: block;
  padding: 20px 0;
}

#book-card input {
  width: 100%;
  font-size: 16px;
  display: block;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#book-card button {
  margin-top: 20px;
  width: 100%;
  margin-top: 50px;
}

footer {
  margin-top: 250px;
  width: 100%;
  background-color: #00303a;
}

footer #top-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 40% 30%;
      grid-template-columns: 30% 40% 30%;
}

footer .footer-logo img {
  width: 300px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 20px;
}

footer .footer-contact {
  padding: 20px;
}

footer .footer-contact .icon-list {
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
  margin-right: 10px;
}

footer .footer-contact a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-bottom: 5px;
}

footer .footer-contact address {
  font-style: normal;
  margin-bottom: 5px;
  display: inline-block;
}

footer .footer-icon {
  padding: 20px;
  position: relative;
}

footer .footer-icon a {
  margin-right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer-icon a:hover {
  -webkit-filter: invert(66%) sepia(11%) saturate(1278%) hue-rotate(350deg) brightness(91%) contrast(90%);
          filter: invert(66%) sepia(11%) saturate(1278%) hue-rotate(350deg) brightness(91%) contrast(90%);
}

footer .footer-icon a img {
  width: 32px;
  height: 32px;
}

#copy-text {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 10px;
  position: absolute;
  background-color: #00303a;
  padding: 10px 0;
}

.btn-book {
  color: #fff;
  background: #00303a;
  border-radius: 8px;
  width: 100px;
  padding: 10px 50px;
  border: 1px solid #fff;
  margin: 0 auto;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-book:hover {
  color: #00303a;
  background: #fff;
}

.btn {
  margin: 0 auto;
  display: block;
  padding: 10px 50px;
  color: #fff;
  background: #00303a;
  border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #00303a;
  cursor: pointer;
}

.btn:hover {
  color: #00303a;
  background: #fff;
  border: 1px solid #00303a;
}

.btn-more {
  padding: 10px 50px;
  color: #00303a;
  background: #fff;
  border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #00303a;
  width: 50px;
  margin-top: 10px;
  cursor: pointer;
}

.btn-more:hover {
  color: #fff;
  background: #00303a;
  border: 1px solid #fff;
}

@-webkit-keyframes draw {
  0% {
    stroke-dasharray: 100 2000;
    stroke-dashoffset: 200;
    stroke-width: 8px;
  }
  90% {
    stroke-dasharray: 200 2000;
    stroke-dashoffset: 2005;
    stroke-width: 2px;
  }
  100% {
    stroke-dasharray: 5000 2000;
  }
}

@keyframes draw {
  0% {
    stroke-dasharray: 100 2000;
    stroke-dashoffset: 200;
    stroke-width: 8px;
  }
  90% {
    stroke-dasharray: 200 2000;
    stroke-dashoffset: 2005;
    stroke-width: 2px;
  }
  100% {
    stroke-dasharray: 5000 2000;
  }
}

#room-info:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
          animation: 0.5s draw linear forwards;
}
/*# sourceMappingURL=style.css.map */